#red_bk {
  background-color: #ff0033;
  background-image: url("../images/flor_red_01.svg"), 
  url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"), 
  url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
  url("../images/flor_red_01.svg");
  background-repeat: no-repeat;
  background-position-x: -350px, 750px, 300px, -20px, 10px, 350px;
  background-position-y: -350px, 30px, 300px, 1100px, 800px, 1700px;
  background-size: 80%, 15%, 120%, 50%, 30%, 60%;
  background-blend-mode:luminosity;
  text-align: center;
  text-shadow: 0 0 3px #7a0202, 0 0 5px #7a0202;
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#white_text { 
  color:rgb(255, 255, 255);
}

#craftBak {
  padding: 3px;
  background-color: paleturquoise;
}


/* Responsive layout */
@media screen and (max-width: 800px) {
    #red_bk {
      background-image: url("../images/flor_red_01.svg"), 
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"),
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"), 
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), 
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"),
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"), 
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"); 
      background-repeat: no-repeat;
      background-position-x: -150px, 350px, 300px, -20px, 20px,
                             -260px, 320px, -10px, -200px, 250px,
                             30px, -150px, 350px, 300px, -20px;
      background-position-y: -50px, 300px, 400px, 900px, 600px,
                             1200px, 1100px, 2000px, 2300px, 1500px,
                             2100px, 3000px, 3050px, 3300px, 3700px, /* mid */
                             4050px, 4100px, 4400px, 4700px, 5050px,
                             5300px, 5000px, 5600px, 5900px, 5200px,
                             5600px, 6400px, 6500px, 6750px, 6800px,
                             7200px, 7200px, 7400px, 7700px, 7960px;
      background-size: 80%, 30%, 120%, 50%, 30%,
                       90%, 20%, 50%, 100%, 75%,
                       150%, 70%, 30%, 75%, 80%;
    }
}
  
/* Responsive layout */
@media screen and (max-width: 600px) {
    #red_bk {
      background-image: url("../images/flor_red_01.svg"), 
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"),
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"), 
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), 
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"),
      url("../images/flor_red_02.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"), 
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"), 
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"),
      url("../images/flor_red_01.svg"), url("../images/flor_red_02.svg"); 
      background-repeat: no-repeat;
      background-position-x: -100%, 110%, 100%, -130%, 10%,
                             -150%, 90%, -50%, -50%, 120%,
                             -100%, -70%, 110%, 150%, -50%;
      background-position-y: -50px, 300px, 400px, 900px, 600px,
                             1200px, 1100px, 2000px, 2500px, 1500px,
                             2100px, 3000px, 3050px, 3500px, 3750px, /* mid */
                             4050px, 4100px, 4400px, 4700px, 5050px,
                             5350px, 5000px, 5700px, 6000px, 5100px,
                             5600px, 6400px, 6500px, 6750px, 6800px,
                             7200px, 7200px, 7400px, 7700px, 7960px,
                             8100px, 8400px, 8530px, 8750px, 8250px,
                             8900px, 9400px, 9400px, 9700px, 9960px,
                             10000px, 10100px, 10300px, 10400px, 10800px;
      background-size: 80%, 30%, 120%, 50%, 30%,
                       90%, 20%, 50%, 100%, 75%,
                       150%, 70%, 30%, 75%, 80%;
    }
}