@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Style page content */
#main {
    transition: margin-left .5s;
    overflow:hidden;
    width:100%;
  }
body {
    overflow-x: hidden; /* avoid horizontal scroll*/
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
}
#container-top
{
    height: 45px;
    background: white;
}
#container-btm
{   
    height: auto;
    background: black;
    overflow-x: hidden;
    overflow-y: auto;
}
@media (max-width:700px) {
    #container-top
    {
        height: 30px;
    }
    #container-btm
    {
        height: 94%;
    }
}
.red {
    color: #ff0033;
}

.fifty:before {
    height: 50px;
    display: block;
    content: '';
}