#field_03 {
    padding: 20px 40px 20px 80px;
    background-color: paleturquoise;
} 
ul.exp {
    list-style-type: circle;
}
#skills {
    float: right;
    height: auto;
    width: 600px;
}
@media (max-width:1000px) {
    #skills {
        width: 400px;
    }
}
@media (max-width:500px) {
    #skills {
        width: 300px;
    }
}
.right {
    
    text-align: right;
}
