#field_03 {
    padding: 20px 40px 20px 80px;
    background-color: paleturquoise;
} 
ul.exp {
    list-style-type: circle;
}
#skills {
    float: right;
    height: auto;
    width: 600px;
}
@media (max-width:1000px) {
    #skills {
#skills {
    width: 400px;
    transform: translateX(40px);
    margin-left: -40px;
}
    }
}
@media (max-width:500px) {
    #skills {
        width: 300px;
        transform: translateX(50px);
        margin-left: -50px;
    }
}
.right {
    
    text-align: right;
}
