@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap'); 

#myLogo {
  background-image: url("../images/logo_Paola.svg");
  background-size: 240px;
  min-height: 350px;
  background-position-y: 20%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  opacity: 1;
}
#header{
  color:paleturquoise;
  padding-top: 260px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: .7s;
  
  -webkit-animation-name: titleAnimation;
  -webkit-animation-timing-function:ease;
  -webkit-animation-duration: .7s;
}
#header span {
  animation-name: wordJump;
  animation-timing-function:ease;
  animation-duration: .2s;
  
  -webkit-animation-name: wordJump;
  -webkit-animation-timing-function:ease;
  -webkit-animation-duration: .2s;
  display: inline-block;
}

#line1,
#line2 {
  display: block;
}

#lineConnector {
  display: block;
}

/* & */
#and {
  font-family: 'EB Garamond', serif;
  color: #ff0033;
  font-size: 1.8em;
  transform: translateX(-7%) translateY(35%) rotate(15deg);

  animation-name: titleAnd;
  animation-timing-function: ease;
  animation-duration: .3s;
  animation-delay: 2.1s;
  
  -webkit-animation-name: titleAnd;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 2.1s;
}

/* line1 */
#line1 span:nth-child(1) { /* D */
  animation-delay: .7s;
}
#line1 span:nth-child(2) { /* a */
  animation-delay: .8s;
}
#line1 span:nth-child(3) { /* t */
  animation-delay: .9s;
}
#line1 span:nth-child(4) { /* a */
  animation-delay: 1s;
}
/* 
#line1 span:nth-child(space) { 
  animation-delay: 1.1s;
}
*/
#line1 span:nth-child(5) { /* A */
  animation-delay: 1.2s;
}
#line1 span:nth-child(6) { /* n */
  animation-delay: 1.3s;
}
#line1 span:nth-child(7) { /* a */
  animation-delay: 1.4s;
}
#line1 span:nth-child(8) { /* l */
  animation-delay: 1.5s;
}
#line1 span:nth-child(9) { /* y */
  animation-delay: 1.6s;
}
#line1 span:nth-child(10) { /* s */
  animation-delay: 1.7s;
}
#line1 span:nth-child(11) { /* t */
  animation-delay: 1.8s;
}

/* line2 */
#line2 span:nth-child(1) { /* U */
  animation-delay: 3.7s;
}
#line2 span:nth-child(2) { /* X */
  animation-delay: 3.6s;
}
/* 
#line2 span:nth-child(space) { 
  animation-delay: 3.5s;
}
*/
#line2 span:nth-child(3) { /* S */
  animation-delay: 3.4s;
}
#line2 span:nth-child(4) { /* t */
  animation-delay: 3.3s;
}
#line2 span:nth-child(5) { /* r */
  animation-delay: 3.2s;
}
#line2 span:nth-child(6) { /* a */
  animation-delay: 3.1s;
}
#line2 span:nth-child(7) { /* t */
  animation-delay: 3s;
}
#line2 span:nth-child(8) { /* e */
  animation-delay: 2.9s;
}
#line2 span:nth-child(9) { /* g */
  animation-delay: 2.8s;
}
#line2 span:nth-child(10) { /* i */
  animation-delay: 2.7s;
}
#line2 span:nth-child(11) { /* s */
  animation-delay: 2.6s;
}
#line2 span:nth-child(12) { /* t */
  animation-delay: 2.5s;
}


li {
  padding:0.2%;
}

@keyframes titleAnimation {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }
  100% {
     transform: translate(0, 0);
     opacity: 1;
  }
}

@keyframes wordJump {
  0% {
    transform: scaleY(1.8);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes titleAnd {
  0% {
    transform: translateX(0) translateY(-400%) rotate(0);
    opacity: 0;
  }
  80% {
    transform: translateX(-20%) translateY(30%) rotate(15deg);
     opacity: 1;
  }
}


@-webkit-keyframes titleAnimation {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }
  100% {
     transform: translate(0, 0);
     opacity: 1;
  }
}

@-webkit-keyframes wordJump {
  0% {
    transform: scaleY(1.8);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes titleAnd {
  0% {
    transform: translateX(0) translateY(-400%) rotate(0);
    opacity: 0;
  }
  80% {
    transform: translateX(-20%) translateY(30%) rotate(15deg);
     opacity: 1;
  }
}

@media screen and (max-width:700px) {
  #and {
    transform: translateX(-50%) translateY(50%) rotate(15deg);
  }
  #line1 {
    display: block;
    transform: translateY(75%);
  }
  #lineConnector {
    display: block;
    transform: translateX(5%);
  }
  #line2 {
    display: block;
    transform: translateY(15%);
  }
}
